/*Meyer’s CSS Reset*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a:link, a:visited, a:hover {
    text-decoration: none;
    color: inherit;
}

body {
    user-select: none;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

main {
    max-width: 400px;
    padding: 5px;
    width: 100%;
    font-size: 2em;
}

#display {
    width: 100%;
    border-radius: 0.5em;
    border: 1px solid black;
    font-family: monospace;
    padding: 5px;
    text-align: right;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 1.5em;
    background-color: white;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    background-color: white;
    border-radius: 1em;
    border: 1px solid black;
    padding: 5px;
    font-size: inherit;
    min-width: 2em;
    box-shadow: black 3px 3px;
    transform: translate(0, 0);
    transition: 0.1s transform;
    cursor: pointer;
}

button.pressed {
    box-shadow: none;
    transform: translate(3px, 3px);
}

button:focus {
    outline: none;
}

button.pressed {
        background-color: black;
        color: white;
        font-weight: bold;
        border-color: white;
}
/* only proper mouse hover, no touch devices */
@media(hover: hover) and (pointer: fine) {
    button:hover {
        background-color: black;
        color: white;
        font-weight: bold;
        border-color: white;
    }
}

#zero {
    grid-column-end: span 2;
}

#equals {
    grid-row-end: span 2;
}

.rainbow {
    background: linear-gradient(180deg, #f00000, #f00000 16.67%, #ff8000 16.67%, #ff8000 33.33%, #ffff00 33.33%, #ffff00 50%, #007940 50%, #007940 66.67%, #4040ff 66.67%, #4040ff 83.33%, #a000c0 83.33%, #a000c0)
}